{% load staticfiles %} 

<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <title>
      
      Historical places - {% block title_block %} <!--How to Tango with Django! --> {% endblock %}
    </title>
  </head>
  <body>
    <div>
      <ul>
        <div>
          {% block sidebar_block %} Sidebar {% endblock %}
        </div>
        <a href="{% url 'rango:index' %}">Home</a>
        <a href="{% url 'rango:help' %}">Help</a>
        <a href="{% url 'rango:destination' %}">Destination</a>
        <!-- {% if user.is_authenticated %}
          <a href="{% url 'rango:logout' %}">Sign out</a>
          <li><a href="{% url 'rango:add_category' %}">Add New Category</a></li>  
        {% else %}
          <a href="">Sign Up</a>
          <a href="">Login</a>
        {% endif %}-->
      </ul>
    </div>

    <div>{% block body_block %} {% endblock %}</div>
    
    <hr />

  </body>
</html>
