{% extends 'rango/base.html' %} {% load staticfiles %}
    
    {% block title %} Destinations {% endblock %}
    
    {% block title_block %}
    {% if destination %}
        {{ destination.name }}
    {% else %}
        Unknown destination
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if destination %}
    <h1>{{ destination.name }}</h1>
    <p>{{ destination.description }}</p>

    {%if user.is_authenticated %}
        
    {%endif%}
    {% else %}
    The specified destination does not exist.
    {% endif %}
{% endblock %}