{% extends 'rango/base.html' %} {% load staticfiles %} 

{% block title_block %}
Homepage
{% endblock %} 

{% block body_block %}
<div id="destination-menu">
  <div>
    {% if user.is_authenticated %}
     <h2> Welcome {{ user.username }}, let's explore some interesting destinations in Scotland!</h2> 
    {% else %}
      Let's explore some interesting destinations in Scotland!
    {% endif %}
  </div>

  <div>
    <h2>Most Liked Destinations</h2>

    {% if destinations %}
    <div id="destination-card-query">
      {% for dest in destinations %}
      <div class="destination-card">
        <a href="{% url 'rango:show_destination' dest.slug %}"><h3>{{ dest.name }}</h3></a>
        <p>{{ dest.description }}</p>
        {% if dest.image %}
          <img src="{{ dest.image.url }}">
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% else %}
    <strong>There are no destinations present.</strong>
    {% endif %}

  </div>
</div>

{% endblock %}
