body{
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e79214;
}

img {
  background: url("/path") no-repeat; 
         width: 100px; 
         height: 100px; 
         display: block; 
         text-indent: -9999px;
}