body{
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FAFAD2;

}
nav {
  background-color: #A0522D;
  height: 8%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  }
  
nav.active {
  width: auto;
  background-color: #A0522D;

}

img {
  background: url("/path") no-repeat; 
  width: 200px; 
  height: 200px; 
  display:flex;
  margin: auto;
  text-indent: 100px;
}

.red-button {
  color: white;
  background-color: red;
}