/* nav {
    background-color: #A0522D;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    } */
  nav.active {
    width: auto;
  
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
  }
  
  nav.active ul {
    width: 100%;
  }
  
  nav ul li {
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
  }
  
  nav.active ul li {
    opacity: 1;
  
  }
  
  nav ul a {
    position: relative;
    color:#fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .icon {
    background-color: #A0522D;
    border: 0;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
  }
  
  .icon .line {
    background-color: #ffffff;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }
  
  .icon .line2 {
    top: auto;
    bottom: 10px;
  }
  
  nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }
  
  nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }
  .container {
    background-color: #A0522D;
    padding: 20px 40px;
    border-radius: 5px;
    margin:auto;
    width: 300px;
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .container a {
    text-decoration: none;
    color: 333;
  }
  
  .btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #A0522D;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
  }
  
  .btn:focus {
    outline: 0;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .text {
    margin-top: 30px;
    margin:auto;
  }
  
  .form-control {
    position: relative;
    margin:auto;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus + label span,
  .form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
  }

  div.image label {
    color: lightblue;
    font-size: 18px;
    text-align: left;
  }