{% extends 'destination/base.html' %}{% load staticfiles %}

{% block title_block %}
Add a destination
{% endblock %}

{% block body_block %}
<h1>Add a destination</h1>

    <form id="destination_form" method="post" enctype="multipart/form-data" action="{% url 'destination:add_destination' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="name" id="name" required>
            </div>
                    <div class="form-group">
            <label for="destination_type">Type:</label>
            <select name="{{ form.destination_type.html_name }}" value="{{ form.destination_type.value }}" id="{{ form.destination_type.id_for_label }}">
                {% for widget in form.destination_type.subwidgets %}
                    {{ widget }}
                {% endfor %}
            </select>
            </div>
            <div class="form-group">
            <label for="description">Description :</label>
             <input type="text" name="description" id="description" required>
            </div>
            <div class="form-group">
            <label for="image">image</label>
                <input type="file" name="image" id="image" >
            </div>
            <div class="form-group">
        <button type="submit"  class="btn btn-outline-dark">
            <span class="material-icons">
                add
                </span>Add</button>
        </div>
    </form>

{% endblock %}