{% extends 'destination/base.html' %}
{% load staticfiles %}
{% block title_block %}
Add a destination
{% endblock %}

{% block body_block %}
<h1>Add a destination</h1>
<div>
    <form id="destination_form" method="post" enctype="multipart/form-data" action="{% url 'rango:add_destination' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Create destination" />
    </form>
</div>
{% endblock %}