{% extends 'destination/base.html' %}{% load staticfiles %}

{% block title_block %}
Add a destination
{% endblock %}

{% block body_block %}
<h1>Add a destination</h1>
<div>
    <form id="destination_form" method="post" enctype="multipart/form-data" action="{% url 'destination:add_destination' %}">
        {% csrf_token %}
        <div class="container">
            <label for="title">title</label>
            <br />
            <input type="text" name="name" id="name" required>
            <br />
            <label for="destination_type">type</label>
            <br />
            <select name="{{ form.destination_type.html_name }}" value="{{ form.destination_type.value }}" id="{{ form.destination_type.id_for_label }}">
                {% for widget in form.destination_type.subwidgets %}
                    {{ widget }}
                {% endfor %}
            </select>
            <br />
            <label for="description">description</label>
            <br />
             <input type="text" name="description" id="description" required>
            <br />
            <label for="image">image</label>
            <br />
                <input type="file" name="image" id="image" >
        <button type="submit" class="btn">Add</button>
        </div>
    </form>
</div>
{% endblock %}