{% load staticfiles %} 

<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Historical places - {% block title_block %} {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'style/base.css' %}" />
    <link rel="stylesheet" href="{% static 'style/destination.css' %}" />
    <link rel="stylesheet" href="{% static 'style/topbar.css' %}" />
    
  </head>
  <body>
    
    <nav class="active" id="nav">
     
      <ul>
        <li>
        <a href="{% url 'destination:index' %}">Home</a>
        <a href="{% url 'destination:destination_menu' %}">Destinations</a>
        {% if user.is_authenticated %}
          <a href="{% url 'destination:add_destination'%}">Add New Destination</a>
          <a href="{% url 'destination:my_profile' %}">Profile</a>
          <a href="{% url 'destination:logout' %}">Sign Out</a>
        {% else %}
          <a href="{% url 'destination:register' %}">Sign Up</a>
          <a href="{% url 'destination:login' %}">Login</a>
        {% endif %}
        <a href="{% url 'destination:help' %}">Help</a>
        <!-- If the user is login and in the profile show edit profile if else not
        {% if user.is_authenticated %}
          <a href="{% url 'destination:edit_profile' %}">Edit Profile</a>
        {% endif %}-->
        </li>
      </ul>
      <button class="icon" id="toggle">
        <div class="line line1"></div>
        <div class="line line2"></div>
      </button>
    
    <script src="{% static 'style/topbar.js' %}"></script>
  </nav>
  <img src="{% static 'images/logo2.png' %}" alt="logo" />
    <div>{% block body_block %} {% endblock %}</div>

  </body>
</html>
