{% extends 'destination/base.html' %} {% load staticfiles %}
    
    {% block title %} Destinations {% endblock %}
    
    {% block title_block %}
    {% if destination %}
        {{ destination.name }}
    {% else %}
        Unknown destination
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if destination %}
    <h1 class="dest-name">{{ destination.name }}</h1>

    <br />
    {% if destination.author == request.user %}
        <a href="{% url 'destination:edit_destination' destination.slug %}">Edit Destination</a><br />
    {% endif %} 

    {% if destination.image %}
      <img src="{{ destination.image.url }}" class="dest-img">
    {% endif %}
    <br />
    <br />
    <p class="dest-type">Type: {{ destination.get_destination_type_display }}</p> <p class="dest-rate">Rating: {{ total_rating }}</p>
    <br />
    

    <p class="dest-des">{{ destination.description }}</p>

    {% if destination.author != null %}
        <a href="{% url 'destination:user_profile' destination.author %}">view the author's profile</a>
    {% endif %}

    
    <form action="{% url 'destination:like_destination' destination.slug %}" method="POST" class="like">
        {% csrf_token %}
        <button type="submit", name="post_id", value="{{ post.id }}",class="like-btn">Like</button>
        {{ total_likes }} likes
    </form>
    
    <div class="card-comment">
        <div class="card-header">
    <h3>Comments</h3>
        </div>
        
    {% if not destination.comments.all %}
    <div class="card-body">
        No comments yet.. 
    </div>
    {% else %}
        {% for comment in destination.comments.all %}
        <div class="card-body">
                {% if user.userprofile.picture %}
                    <img src="{{ user_profile.picture.url }}" class="comment-img">
                {% else %}
                    <img src="{% static 'images/user_pic_placeholder.png' %}" class="comment-img">
                {% endif %}
            <strong> {{ comment.user }} 
                On {{ comment.created_date }} </strong>
                <br />
                <blockquote class="blockquote mb-0">
            <p> {{ comment.text }} </p>
            <footer>  Rate: {{ comment.rate }} </footer>
        </blockquote>
    </div>
    </div>
        {% endfor %}
    {% endif %} 
    <br />
    {%if user.is_authenticated %}
    </p>
    <button class="btn btn-primary" type="buttopon" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Add comment
      </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="comment-card-body">
        <form method="post" action=".">
             {% csrf_token %}
             {{ form.as_table }}

                <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
        </div>
    </div>
    {% endif %}


    {%if user.is_authenticated %}
        
    {%endif%}
    {% else %}
    The specified destination does not exist.
    {% endif %}
{% endblock %}
 