{% extends 'destination/base.html' %} {% load staticfiles %}
    
    {% block title %} Destinations {% endblock %}
    
    {% block title_block %}
    {% if destination %}
        {{ destination.name }}
    {% else %}
        Unknown destination
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if destination %}
    <h1>{{ destination.name }}</h1>

    {% if destination.image %}
      <img src="{{ destination.image.url }}">
    {% endif %}
    <p>{{ destination.description }}</p>

    {% if destination.author != null %}
        <a href="{% url 'destination:user_profile' destination.author %}">view the author's profile</a>
    {% endif %}

    {%if user.is_authenticated %}
        
    {%endif%}
    {% else %}
    The specified destination does not exist.
    {% endif %}
{% endblock %}
