{% extends 'destination/base.html' %} {% load staticfiles %} 


{% block title_block %}
Edit destination
{% endblock %} 

    

{% block body_block %}
<h1>Edit destination</h1>
<div>
    <form id="destination_form" method="post" enctype="multipart/form-data" action="{% url 'destination:edit_destination' destination_name_slug=instance %}">
        {% csrf_token %}

        <div class="container">
            <label for="title">title</label>
            <br />
            <input type="text" name="name" id="name" value="{{ instance.name }}" required>
            <br />
            <label for="destination_type">type</label>
            <br />
            <select name="destination_type" value="{{ instance.destination_type }}" id="{{ form.destination_type.id_for_label }}">
                {% for widget in form.destination_type.subwidgets %}
                    {% if widget == form.destination_type.initial %}
                        initial
                    {% endif %}
                    
                    {{ widget }}
                {% endfor %}
            </select>
            <br />
            <label for="description">description</label>
            <br />
            <input type="text" name="description" id="description" value="{{ instance.description }}" required>
            <br />
            <label for="image">image</label>
            <br />
            {% if instance.image %}
                <img src="{{ instance.image.url }}">
            <br />
            {% endif %}
            <label for="replace_image">replace image</label>
            <input type="file" name="image" id="image" value="{{ instance.image }}">
            <br />
            <button type="submit" class="btn btn-outline-dark">
                <span class="material-icons">
                    edit
                    </span>Edit</button>
        </div>
    </form>
    <br />
    <form action="{% url 'destination:delete_destination' instance.slug %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark red-button">
            <span class="material-icons">
                delete_outline
                </span>Delete destination</button>
    </form>
</div>
{% endblock%}