{% extends 'destination/base.html' %} {% load staticfiles %} 


{% block title_block %}
Edit destination
{% endblock %} 

    

{% block body_block %}
<h1>Edit destination</h1>
<div>
    <form id="destination_form" method="post" enctype="multipart/form-data" action="{% url 'destination:edit_destination' destination_name_slug=instance %}">
        {% csrf_token %}
        <div class="container">
            <label for="title">title</label>
            <br />
            <input type="text" name="name" id="name" value="{{ instance.name }}" required>
            <br />
            <label for="destination_type">type</label>
            <br />
            <select name="{{ form.destination_type.html_name }}" value="{{ instance.destination_type }}" id="{{ form.destination_type.id_for_label }}">
                {% for widget in form.destination_type.subwidgets %}
                    {{ widget }}
                {% endfor %}
            </select>
            <br />
            <label for="description">description</label>
            <br />
            <input type="text" name="description" id="description" value="{{ instance.description }}" required>
            <br />
            <label for="image">image</label>
            <br />
            <img src="{{ instance.image.url }}">
            <br />
            <label for="replace_image">replace image</label>
            <input type="file" name="image" id="image" value="{{ instance.image }}">
        <button type="button" class="btn btn-outline-dark">Save</button>
        </div>
    </form>
</div>
{% endblock%}