{% extends 'destination/base.html' %} {% load staticfiles %}


{% block title_block %} Help {% endblock %} {% block body_block %}
<div class="help-body">
<h1>FAQ</h1>
<div>
  Here is the help page <br />
  How to use this website<br />
  Register:<br />
  UserName:Email is best <br />
  First Name<br />
  Last Name<br />
  Password: you need at least 6 characters<br />
  Comfirm Password<br />
 
  Explore:<br />
  You can click "Explore Place" to search What you want!"<br />
  
  
</div>
</div>
{% endblock %}
