{% extends 'destination/base.html' %}
{% block body_block %}
            
          <div class="container">
            <h2>Enter new password</h2>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="POST">
                {% csrf_token %}
                <label for="id_new_password1">New password:</label>
                <input type="password" name="new_password1" required="" id="id_new_password1">
                <br />
                <label for="id_new_password2">Confirm password:</label>
                <input type="password" name="new_password2" required="" id="id_new_password2">
                <br />
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
{% endblock %}