{% extends 'destination/base.html' %}
{% block body_block %}
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <h4> Reset Password</h4>
                <label for="id_email" class=" requiredField">
                    Email </label>
                    <input type="email" name="email" maxlength="254" class="emailinput form-control" required="" id="id_email">
                <button type="button" class="btn btn-outline-dark">Request Password Reset</button>
            </div>
            </div>
        </form>
    </div>
{% endblock %}