{% extends 'destination/base.html' %} {% load staticfiles %} 


{% block title_block %}
Your profile
{% endblock %} 

    

{% block body_block %}
<div id="user-profile">
    
    
    <h1>Your Profile</h1>
    <h3>Welcome {{user.username}}!</h3>
    
    <a href="{% url 'destination:edit_profile' %}">Edit Profile</a><br />  

    {% if user.userprofile.picture %}
        <img src="{{ user.userprofile.picture.url }}">
    {% else %}
        <img src="{% static 'images/user_pic_placeholder.png' %}">
    {% endif %}

    <h5>About me</h5> 
    {% if user_profile_from.about %}
        <p>{{ user_profile_from.about }}</p>
    {% else %}
        <p>This is about me!</p>
    {% endif %}
    {% if user_destinations %}
       <h5>User's destinations</h5>
       <div id="destination-card-query">
           {% for dest in user_destinations %}
              <div class="destination-card">
                <a href="{% url 'destination:show_destination' dest.slug %}"><h3>{{ dest.name }}</h3></a>
                <p>{{ dest.description }}</p>

              </div>
            {% endfor %}
       </div>
    {% endif %}

<div>
{% endblock%}