{% extends 'destination/base.html' %} {% load staticfiles %} 


{% block title_block %}
Your profile
{% endblock %} 

    

{% block body_block %}

    
    
    <h1>Your Profile</h1>
    <h3>Welcome {{user.username}}!</h3>


    <div class="card" style="width: 18rem;">
    {% if user.userprofile.picture %}
        <img src="{{ user_profile.picture.url }}">
    {% else %}
        <img src="{% static 'images/user_pic_placeholder.png' %}">
    {% endif %}

    <h5 class="card-title">About me</h5> 
    {% if user_profile.about %}
    <div class="card-body">
        <p class="card-text">{{ user_profile.about }}</p>
    {% else %}
        <p class="card-text">This is about me!</p>
   
    {% endif %}
  
    </div>
    </div>
    {% if user_destinations %}
    <div class="card" style="width: 18rem;">
       <h5>User's destinations</h5>

           {% for dest in user_destinations %}
   
                <a href="{% url 'destination:show_destination' dest.slug %}"><h3>{{ dest.name }}</h3></a>
                <p>{{ dest.description }}</p>


            {% endfor %}
    </div>
    {% endif %}


{% endblock%}