{% extends 'destination/base.html' %} {% load staticfiles %} 


{% block title_block %}
Your profile
{% endblock %} 

    

{% block body_block %}

    
<div class="profile-body">
    <h1>Your Profile</h1>
    <h3>Welcome {{user.username}}!</h3>


    <div class="profile container">
    {% if user.userprofile.picture %}
        <img src="{{ user_profile.picture.url }}" class="pro-img">
    {% else %}
        <img src="{% static 'images/user_pic_placeholder.png' %}">
    {% endif %}

    <hr />
    <h5>About me</h5> 
    {% if user_profile.about %}
    <div>
        <p >{{ user_profile.about }}</p>
    {% else %}
        <p >This is about me!</p>
   
    {% endif %}
  
    </div>
    </div>
    {% if user_destinations %}
    <hr />
    <div class="container">
    
       <h5>User's destinations</h5>

           {% for dest in user_destinations %}
   
                <a href="{% url 'destination:show_destination' dest.slug %}"><h3>{{ dest.name }}</h3></a>
                <p>{{ dest.description }}</p>


            {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock%}