{% extends 'destination/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
	{% if registered %}
		<h2 class="login-title">Thank you for registering!</h1>
		<a href="{% url 'destination:index' %}">Go to the homepage.</a><br />
	{% else %}
		<h2 class="login-title">Register</h1>
		<form id="user_form" class="form" method="POST" action="{% url 'destination:register' %}" enctype="multipart/form-data" >
			{% csrf_token %}
			{% if user_error %}
			<ul class="errorlist">
				<div class="alert alert-danger" role="alert">
				Password :
					<ul class="errorlist">
						The two password fields didn't match.
					</ul>
				</div>
				<div class="alert alert-danger" role="alert">
				Username :
					<ul class="errorlist">
						A user with that username already exists.
					</ul>
			</ul>
		</div>
			{% endif %}
			{% if user_profile_error %}
				{{ user_profile_error }}
			{% endif %}
			<div class="form-group">
				<label for="username">Username:</label>
				{{ user_form.username }}
			</div>
			<div class="form-group">
				<label for="first_name">First Name:</label>
				{{ user_form.first_name}}
			</div>
			<div class="form-group">
				<label for="last_name">Last Name:</label>
				{{ user_form.last_name }}
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				{{ user_form.email }}
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				{{ user_form.password1 }}
			</div>
			<div class="form-group">
				<label for="password2">Confirm Password:</label>
				{{ user_form.password2 }}
			</div>
			<div class="form-group">
				<label for="picture">Picture</label>
				{{ user_profile_form.picture }}
			</div>
			<div class="form-group">
				<label for="about">Description:</label>
				{{ user_profile_form.about }}
			</div>
			<div class="form-group">
			<button type="submit" class="custom-button login-button btn btn-primary">Register</button>

			</div>
		</form>
	{% endif %}
	
{% endblock %}